// @import "compass/css3/shared";
// @import "compass/css3/box-sizing";


.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}

body {
	max-width: 100%;
	margin: 0 auto 0 auto;
}

header[role=banner] h1 {
	@include box-sizing(border-box);
	width: inherit;
	//max-width: 900px;
	background-color: #000;
	padding: $header-banner-font-size / 2.4 $mobile_margin $header-banner-font-size / 2.4 $mobile_margin
}

#main {
	@include box-sizing(border-box);
	width: inherit;

	aside.sidebar {
		@include border-radius(2px);
		background-color: #ddd;
		h1 {
			padding: $header-banner-font-size / 2.4 $mobile_margin $header-banner-font-size / 2.4 $mobile_margin;
			@include box-sizing(border-box);
			font-family: $helvetica;
			border-style: solid;
			border-width: 0 0 1px 0;
			border-color: rgba(0,0,0,0.2);
			@include box-shadow(0 1px 0px 0px rgba(255,255,255,0.8));
			font-size: $header-banner-font-size;
			font-weight: normal;
		}

		ul {
			padding: $header-banner-font-size / 2.4 $mobile_margin $header-banner-font-size / 2.4 $mobile_margin;
		}
	}
}

nav.pagination {
	margin: 5em $mobile_margin 0 $mobile_margin;
	padding-top: 1em;
	display: block;
	position: relative;
	border-style: solid;
	border-width: 1px 0 0 0;
	height: 2em;
	a {
		font-family: $helvetica;
		font-size: 1.4em;
		text-transform: uppercase;
		text-decoration: none;
	}
	.next, .prev {
		position: absolute;
		display: block;
	}
	.center {
		display: block;
		width: 100%;
		text-align: center;
	}
	.next {
		right: 0;
	}
	.prev {
		left: 0;
	}
}