// @import "compass/css3/shared";
// @import "compass/css3/box-sizing";


body {
	max-width: 100%;
	margin: 0 auto 0 auto;
}

header[role=banner] h1 {
	@include box-sizing(border-box);
	width: inherit;
	//max-width: 900px;
	background-color: #000;
	padding: $header-banner-font-size / 2.4 $mobile_margin $header-banner-font-size / 2.4 $mobile_margin
}

#main {
	@include box-sizing(border-box);
	width: 100%;
	padding: $header-banner-font-size / 2.4 $mobile_margin $header-banner-font-size / 2.4 $mobile_margin;

	div#content {
		display: flex;
		flex-flow: row wrap;
	}

	aside {
		//width: 100px;
	}
}